<!doctype html>
<html lang="en-us">
<head>
   <title>{{ page.title }}</title>
   <meta charset="utf-8">
   <meta name="author" content="Nicolas Garcia Belmonte" />
   <link href="http://feeds.feedburner.com/noumena" rel="alternate" title="Nicolas Garcia Belmonte" type="application/atom+xml" />
   <link href='http://fonts.googleapis.com/blog/css?family=Droid+Sans' rel='stylesheet' type='text/blog/css'>
   <link rel="shortcut icon" type="image/ico" href="/blog/assets/blog.png" />
   <link rel="stylesheet" href="/blog/css/syntax.css" type="text/blog/css" />
   <link rel="stylesheet" href="/blog/css/style.css" type="text/blog/css" media="screen, projection, handheld" />
   <!--[if IE 6]>
   <style type="text/blog/css">
    #post { overflow:hidden; }
   </style>
   <![endif]-->
</head>
<body>

<div class="site">
  <div id="sidebar">
    <div class="box" id="bio">
      <img src="/blog/assets/static/img/micara.jpg" alt="me" />
      <div>
        Hi! I'm <a href="http://philogb.github.com/">Nicolas</a> and I'm interested in information visualization, JavaScript and web standards.
        I currently work as a Data Visualization Scientist at Twitter. I wrote <a href="http://senchalabs.github.com/philogl/">PhiloGL</a>, the <a href="http://thejit.org/">JavaScript InfoVis Toolkit</a> and <a href="http://github.com/philogb/v8-gl#readme">V8-GL</a>.
      </div>
    </div>
    <div class="box" id="projects">
      <ul>
        <li>
        <a href="http://feeds.feedburner.com/noumena/">
          <img alt="suscribe" title="suscribe" src="/blog/assets/fav/rss.png" />
        </a>
        </li>
        <li>
        <a href="http://twitter.com/philogb/">
          <img alt="twitter" title="follow me on twitter!" src="/blog/assets/fav/twitter.png" />
        </a>
        </li>
        <li>
        <a href="http://github.com/philogb/">
          <img alt="github" title="check out my projects on github" src="/blog/assets/fav/github.png" />
        </a>
        </li>
        <li>
        <a href="http://www.linkedin.com/in/nicolasbelmonte">
          <img alt="linkedin" title="linkedin" src="/blog/assets/fav/linkedin.png" />
        </a>
        </li>
        <li>
        <a href="http://philogb.github.com/notes/">
          <img alt="notes blog" title="personal blog" src="/blog/assets/fav/blog.png" />
        </a>
        </li>
      </ul>
    </div>
  </div>

  {{ content }}

</div>

<!-- Google Analytics -->
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-1601691-4");
	pageTracker._trackPageview();
	} catch(err) {}
</script>
<!-- Google Analytics end -->
</body>
</html>
